.contentServis{
    width: 100%;
    height: 1411px;
    background-color: #e4fdf9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.textContent {
    width: 50%;
}

.btnHover{
    border: 2px solid black;
}

.sizeTextServis{
    font-size: 17px;
}

.bgNone {
    background-color: #00897b;
    transition: background-color 0.15s linear;
}

.heightConteiner {
    height: 350px;
}

.flexBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnHover:hover{
    border: 2px solid #ffff;
    color: #ffff;
}

.widthTabServis{
    width: 80%;
}

.widthTab{
    width: 80%;
}

.heightTab{
    height: 441px;
}

@media screen and (max-device-width: 765px) {
    .contentServis{
        height: 2950px;
        justify-content: start;
    }

    .textContent {
        width: 90%;
    }

    .shadow {
        height: 400px;
    }

    .marginServices{
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .marginBottom{
        margin-bottom: 40px;
    }
    
}